* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.txt-white {
  color: #ffffff;
}
.btn-primary {
  background-color: #ff3d3d;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #e63636;
}

/* trying a gradient text style for button and logo */

.gradient-text {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-grad {
  background-image: linear-gradient(
    45deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 12px 16px;
  text-align: center;
  font-weight: 600;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10000px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* main style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12.5rem;
  background-color: #1a0b2e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-links a {
  font-size: 1rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff3d3d;
}

.logo h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 800;
}
